body{
    font-family: system-ui;
    margin: 0;
}

p {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.container__left{
    width: 40%;
    background-color: rgb(97, 2, 198); 
    height: 100vh; 
}
.container__right{
    width: 60%;
    height: 100vh; 
}

.info__area{
    padding: 3rem 3rem 0.5rem;
}

.login__area{
    padding: 0.5rem;
}

.info__area--h1{
    font-size: 30px; 
    font-weight: 200; 
    line-height: 100%; 
    color: white;
}

.info__area--h1 span{
    vertical-align: text-top; 
    font-size: 12px;
}

.info__area--h2, .info__area--h3, .info__area--text{
    font-size: 48px; 
    font-weight: 300; 
    line-height: 120%; 
    color: white;
}

.info__area--h3{
    font-size: 26px; 
}

.info__area--text{
    margin: 2rem 0 0; 
    font-size: 16px;
}

.info__area--text span{
    vertical-align: text-top; 
    font-size: 10px;
}

.signup{ 
    text-align: right; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 120%;
}

.signup a{
    text-decoration: none; 
    color: rgb(159, 2, 198);
}

.sign-in{
    text-align: center; 
    font-size: 34px; 
    font-weight: 500; 
    line-height: 120%;
}

.login__box{
    background-color: white;
    margin: 8rem auto 0.5rem; 
    width: 50%;
}

.msg__box{
    width: 90%;
    height: 70px; 
    margin: 1rem auto 2rem;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.msg__box--correct{
    background-color: rgb(240, 255, 218);
    color: rgb(0, 189, 0); 
}

.msg__box--wrong{
    background-color: rgb(250, 207, 207);
    color: rgb(189, 0, 24); 
}

.msg__box--message{
    font-size: 16px; 
    font-weight: 500;
    text-align: center;
}

.login__form{
    /*width: inherit; */
    margin: 0 auto;
}

.input__area{
    margin: 1.25rem auto 0; 
    width: 90%;
}

.login__form--input-field{
    margin-top: 0.5rem;
    padding: 0.5rem; 
    width: 100%; 
    border: none; 
    background-color: rgb(244, 242, 242); 
    border-bottom: 3px solid lightgrey; 
    box-sizing: border-box;
}

.login__form--forgot_pass{
    margin: 0.5rem 0; 
    text-align: right; 
    font-size: 12px; 
    font-weight: 500; 
    line-height: 120%;
}

.login__form--forgot_pass a{
    text-decoration: none; 
    color: rgb(159, 2, 198);
}

.login__form--button{
    display: block; 
    padding: 0.25rem 2.5rem; 
    margin: 1.5rem auto; 
    border: none; 
    color: gray; 
    border-radius: 3px;
}

.login__form--button:hover{
    color: rgba(20, 20, 20, 0.773);
    background-color: gray;
}

.copyright{
    position: absolute;
    bottom: 0;
    width: inherit;
    text-align: center; 
    padding-bottom: 0.5rem; 
    color: black;
}

.mob-visi{
    display: none;
}

@media (max-width: 770px){
    .web-visi{
        display: none;
    }

    .mob-visi{
        display: block;
    }

    .info__area--h1, .info__area--h2, .info__area--h3, .info__area--text{
        text-align: center;
    }

    .info__area--line{
        display: none;
    }

    .signup{
        text-align: center;
    }

    .container {
        flex-direction: column;
        height: auto;
        background-color: rgb(97, 2, 198);
    }

    .container__left{
        width: 100%;
        height: auto;
    }

    .container__right{
        width: 100%;
        height: auto;
    }
    
    .login__box{
        margin: 1rem auto; 
        width: 50%;
        padding: 1.5rem 0;
        border-radius: 8px;
    }

    .login__form--input-field{
        padding: 0.5rem 1rem;
    }

    .login__form--button{
        padding: 0.5rem 3rem; 
    }

    .copyright{
        position: inherit;
        margin-top: 2rem; 
        color: white;
    }
}

@media (max-width: 550px){
    .login__box{
        width: 60%;
    }
}

@media (max-width: 450px){
    .login__box{
        width: 75%;
    }

    .mobDiv{
        height: fit-content;
    }
}